# core components
django==1.11.2
gunicorn==19.6.0
psycopg2==2.7.1

# linters
bandit==0.17
pycodestyle==2.2.0
pydocstyle==2.0.0
pylint==1.6.4
pylint-common==0.2.2
pylint-django==0.7.2

# utils
coverage==4.2
docutils==0.13.1
django-environ==0.4.1
django-nose==1.4.4
{% if cookiecutter.use_rest_framework == 'y' -%}
  djangorestframework==3.5.3
{%- endif %}
{% if cookiecutter.use_sentry == 'y' -%}
raven==6.1.0
{%- endif %}

# essential libraries
requests==2.12.3

# django extensions
django-debug-toolbar==1.6
django-extensions==1.7.5
factory_boy==2.7.0

# debugging
ipdb==0.10.1
rpdb==0.1.6
werkzeug==0.11.5  # for werkzeug debug page
